nav {
  /* background-color: #b4ff28;  */
  /* Adjust padding as needed */
  width: 100%; /* Make the navigation bar span the full width */
  position: fixed; /* Fix the navigation bar at the top */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Extend to the left side */
  right: 0; /* Extend to the right side */
}

.nav-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Spread items evenly across the container */
}

li {
  display: inline-block;
}

li:last-child {
  margin-left: auto;
  margin-right: 20px;
}

a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
  padding: 11px 10px; /* Add padding to links */
}

a.active {
  background-color: #00000036; /* Change this to your desired darker color */
  /* Add any additional styles for the selected item */
}

button.userButton {
  border-radius: 50%;
  border-color: transparent;
  padding: 2px;
  margin-right: 10px;
  background-color: #575454;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

button.userButton:hover {
  background-color: white;
  color: #575454;
}

.not-logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red; /* Change to your desired color */
  color: white;
  margin-left: 20px;
  border-radius: 5px;
}
