/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #575454;
  color: white;  */
  margin: 0; /* Reset default margin */
  font-family: Arial, sans-serif; /* Optional: Define a font family */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #4caf50; /* Green */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* Red */
  color: white;
}

.warning-snackbar {
  background-color: #ff9800; /* Orange */
  color: white;
}

.info-snackbar {
  background-color: #2196f3; /* Blue */
  color: white;
}
