<div class="container">
  <!-- Current Month's Cost -->
  <div class="charts-container">
    <h2>Current Month's Cost</h2>
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner diameter="30"></mat-spinner>
      <span>Loading...</span>
    </div>
    <div class="chart-options">
      <span>Chart Type: </span>
      <select [(ngModel)]="selectedChartType" (change)="updateChartType()">
        <option value="bar">Bar Chart</option>
        <option value="pie">Pie Chart</option>
        <option value="horizontalBar">Horizontal Bar Chart</option>
      </select>
    </div>
    <div class="date-selector">
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [max]="endDate"
          [(ngModel)]="startDate"
          (dateChange)="dateChange()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [min]="startDate"
          [(ngModel)]="endDate"
          (dateChange)="dateChange()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Display the selected chart based on the dropdown value -->
    <ng-container *ngIf="selectedChartType === 'bar' && !isLoading">
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="chartData"
        [scheme]="colorScheme"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
      ></ngx-charts-bar-vertical>
    </ng-container>

    <ng-container *ngIf="selectedChartType === 'pie' && !isLoading">
      <ngx-charts-pie-chart
        [view]="view"
        [results]="chartData"
        [scheme]="colorScheme"
        [legend]="showLegend"
        [animations]="animations"
      ></ngx-charts-pie-chart>
    </ng-container>

    <ng-container *ngIf="selectedChartType === 'horizontalBar' && !isLoading">
      <ngx-charts-bar-horizontal
        [view]="view"
        [results]="chartData"
        [scheme]="colorScheme"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
      ></ngx-charts-bar-horizontal>
    </ng-container>
  </div>

  <!-- Lifetime Data -->
  <div class="line-chart-container">
    <h2>Life time Data</h2>
    <div *ngIf="isLifetimeLoading" class="loading-spinner">
      <mat-spinner diameter="30"></mat-spinner>
      <span>Loading...</span>
    </div>
    <ngx-charts-line-chart
      *ngIf="!isLifetimeLoading"
      class="lineChart"
      [view]="view"
      [scheme]="colorScheme"
      [results]="lineChartData"
      [gradient]="gradient"
      [xAxis]="!showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLineLegend"
      [showXAxisLabel]="!showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [animations]="animations"
    ></ngx-charts-line-chart>
  </div>
</div>
