<h1 mat-dialog-title>Edit Cost</h1>
<div mat-dialog-content>
  <form [formGroup]="editCostForm">
    <mat-form-field>
      <input
        matInput
        formControlName="amount"
        placeholder="Amount"
        [(ngModel)]="cost.amount"
        type="number"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="description"
        placeholder="Description"
        [(ngModel)]="cost.description"
      />
    </mat-form-field>
    <mat-form-field>
      <select
        id="category"
        [(ngModel)]="cost.category"
        formControlName="category"
      >
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
