<div *ngIf="!isLoggedIn"></div>
<div class="container">
  <div class="left-side">
    <h2>Add Costs</h2>
    <div class="input-group">
      <label for="amount">Amount:</label>
      <input
        type="number"
        id="amount"
        placeholder="Amount"
        [(ngModel)]="newCost.amount"
        #amountInput
      />
    </div>
    <div class="input-group">
      <label for="category">Category:</label>
      <select
        id="category"
        [(ngModel)]="newCost.category"
        *ngIf="!noCategories"
      >
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
      <p *ngIf="noCategories">
        Please add cost categories at the profile page on the top right
      </p>
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        placeholder="Description"
        [(ngModel)]="newCost.description"
        rows="4"
        cols="50"
      ></textarea>
    </div>
    <button (click)="addCost()" [disabled]="loading">
      <span *ngIf="!loading">Add Cost</span>
      <span *ngIf="loading">Adding...</span>
    </button>
  </div>
  <div class="right-side">
    <h2>This Months Costs</h2>
    <div class="costs-container">
      <div class="headings">
        <div class="entry-title">Category</div>
        <div class="entry-title">Description</div>
        <div class="entry-title">Amount</div>
        <div class="entry-title">Actions</div>
      </div>
      <div class="costs-list">
        <div class="cost" *ngFor="let cost of addedCosts">
          <div class="cost-entry" (click)="viewDetails($event, cost)">
            <div class="entry-value">{{ cost.category }}</div>
            <div class="entry-value description">{{ cost.description }}</div>
            <div class="entry-value">R{{ cost.amount }}</div>
            <div class="entry-value">
              <button
                class="actions"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="editCost(cost)"
                  [disabled]="loading"
                >
                  Edit
                </button>
                <button
                  mat-menu-item
                  (click)="deleteCost(cost._id)"
                  [disabled]="loading"
                >
                  Delete
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total-amount">
      <strong>Total Amount:</strong>
      {{ getTotalAmount() | currency : "ZAR" : "symbol" : "1.2-2" }}
    </div>
  </div>
</div>
<app-notification></app-notification>
