/* dlg-schema-edit.component.css */

.dialog-content {
  display: flex;
  flex-direction: row; /* Set the main content to be in a row */
  align-items: flex-start; /* Align content to the top */
}

.form-container {
  width: 50%; /* Set the width of the form container */
  padding: 0 16px; /* Add some padding to the form container */
}

.color-preview {
  width: 50%; /* Set the width of the color preview container */
  padding: 0 16px; /* Add some padding to the color preview container */
}

/* Style for each color input */
mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

/* Style for the color preview box */
.preview-box {
  width: 100%;
  height: 100px; /* Adjust the height of the preview box as needed */
  border: 1px solid #ccc;
  margin-top: 8px;
  position: relative;
}

.bar {
  height: 12px;
  width: 100%;
}

/* Style for the text inside */
.text-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set the accent color */
}

/* Style for the button group */
.button-group {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  margin: 10px;
  padding: 5px;
}
